/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffcccb; /* Fondo de color rosa pastel */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de encabezado y navegación */
.header {
    background-color: #ff6b6b; /* Color de fondo del encabezado */
    color: #fff;
    padding: 20px 0;
}

.header h1 {
    text-align: center;
}

.header nav ul {
    list-style: none;
    text-align: center;
}

.header nav ul li {
    display: inline;
    margin: 0 20px;
}

.header nav a {
    text-decoration: none;
    color: #fff;
}

/* Estilos del héroe */
.hero {
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cake-image {
    width: 300px; /* Establece un ancho fijo para las imágenes */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    margin: 20px;
    border: 4px solid #fff;
    border-radius: 10px;
}

/* Estilos de contacto */
.contact {
    text-align: center;
    padding: 60px 0;
}

.contact h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 30px;
}

/* Estilos de pie de página */
.footer {
    background-color: #ff6b6b; /* Color de fondo del pie de página */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}

/* Estilos de botón */
.btn {
    background-color: #ff6b6b; /* Color del botón */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff5555; /* Color del botón al pasar el cursor */
}